main{
    background-image: url(../imagenes/imagenes/Background.jpg);
    background-repeat: no-repeat;
}

body{
    height: fit-content;
}

body,html{
    height: fit-content;
}

footer{
    bottom: 0;
    position: relative;
}

main{
    min-height: 86vh;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff5f8;
}

.contacto_container{
    width: 60%;
    max-height: 80%;
    padding: 100px 0;
    max-width: 40%;
}

.title{
    margin: 50px 0;
}

.form_box form{
    display: grid;
    grid-template-columns: 1 1;
}

.form_box form div{
    padding: 10px 30px;
}

.form_box form .full_row{
    grid-column: 1/3;
}

label{
    font-size: 1.2em;
    font-weight: bold;
}

.custom_input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.1em;
    border: rgb(0, 0, 0)32, 29, 30);
    border-bottom: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    

}

.form_box form textarea{
    max-width: 100%;
    min-width: 100%;
}

.checkbox {
    display: flex;
    margin: 20px 0;
    width: 100%;
    align-items: center;
}

.checkbox input{
    width: fit-content !important;
    margin: 0rem;
    margin-right: 5px;
}

.big_checkbox{
    zoom: 2;
}

.submit{
    width: 100%;
    font-size: 1.3em;
    box-sizing: border-box;
}

.submit input{
    width: 35%;
    float: right;
    padding: 15px 0;
    background: rgb(255, 255, 255);
    border:solid 1px #000000;;
    font-size: 15px;
    font-weight: bold;
}

.submit input:hover{
    background: #000000;
    border:none;
    cursor: pointer;
    color: white
}

